{% extends 'layout.html' %}

{% block content %}
{% if !user %}
<div class="mdl-layout mdl-js-layout" id="intro-layout">
	<div class="mdl-grid">
		<div class="mdl-cell mdl-cell--12-col">
			<h1>Qrator</h1>
			<form action="/auth/spotify">
				<button class="mdl-button mdl-js-button mdl-button--raised mdl-color-text--grey-100" type="submit" value="Login" id="authorize">
					Login
				</button>
			</form>
		</div>
	</div>
</div>
{% else %}
<div class="demo-layout mdl-layout mdl-js-layout mdl-layout--fixed-header">
	<header class="demo-header mdl-layout__header mdl-color--grey-900 mdl-color-text--grey-100">
		<div class="mdl-layout__header-row">
			<button class="mdl-button mdl-js-button mdl-button--raised mdl-color-text--grey-100 hidden" id="return-to-playlists">
				Back
			</button>
			<span class="mdl-layout-title" id="playlist-title">Playlists</span>
			<form action="/logout">
				<button class="mdl-button mdl-js-button mdl-button--raised mdl-color-text--grey-100" type="submit" value="Logout" id="authorize">
					Logout
				</button>
			</form>
		</div>
	</header>
	<div id="loading-bar" class="mdl-progress mdl-js-progress mdl-progress__indeterminate hidden"></div>
	<main class="mdl-layout__content mdl-color--grey-900">
		<div class="mdl-grid demo-content">
			<div class="mdl-cell mdl-cell--12-col x-scroll">
				<table class="mdl-data-table mdl-js-data-table mdl-shadow--2dp mdl-color--grey-900 mdl-color-text--grey-100" id="playlists">
					<tbody></tbody>
				</table>
				<table class="mdl-data-table mdl-js-data-table mdl-shadow--2dp mdl-color--grey-900 mdl-color-text--grey-100 hidden tablesorter" id="song-list">
					<thead>
						<tr>
							<th class="mdl-data-table__cell--non-numeric mdl-color-text--grey-100">Title</th>
							<th class="mdl-data-table__cell--non-numeric mdl-color-text--grey-100">Artist</th>
							<th class="mdl-data-table__cell--non-numeric mdl-color-text--grey-100">Album</th>
						</tr>
					</thead>
					<tbody></tbody>
				</table>
			</div>
		</div>
	</main>
</div>
<dialog class="mdl-dialog mdl-color--grey-900 mdl-color-text--grey-100" id="add-field-dialog">
	<h4 class="mdl-dialog__title">Edit Fields</h4>
	<div class="mdl-dialog__content mdl-color-text--grey-100">
		<p>
			Configure how you want to rate your music here.
		</p>
		<form action="#">
			<div class="mdl-grid">
			</div>
			<button id="add-new-field" type="button" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-color-text--grey-100">
			  Add Field
			</button>
		</form>
	</div>
	<div class="mdl-dialog__actions">
		<button type="button" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect save mdl-color-text--grey-100">Save</button>
		<button type="button" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect close mdl-color-text--grey-100">Cancel</button>
	</div>
</dialog>
<dialog class="mdl-dialog mdl-color--grey-900 mdl-color-text--grey-100" id="edit-value-dialog">
	<h4 class="mdl-dialog__title">Edit Value</h4>
	<div class="mdl-dialog__content mdl-color-text--grey-100">
		<form action="#">
			<div class="mdl-grid">
			</div>
			<button id="add-new-field" type="button" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-color-text--grey-100">
			  Add Field
			</button>
		</form>
	</div>
	<div class="mdl-dialog__actions">
		<button type="button" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect save mdl-color-text--grey-100">Save</button>
		<button type="button" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect close mdl-color-text--grey-100">Cancel</button>
	</div>
</dialog>
<div id="add-field-wrapper" class="hidden">
	<button class="mdl-button mdl-js-button mdl-button--fab mdl-js-ripple-effect mdl-button--colored" id="add-field-button">
		<i class="material-icons">settings</i>
	</button>
</div>
<script src="//code.jquery.com/jquery-3.1.1.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery.tablesorter/2.27.8/js/jquery.tablesorter.min.js"></script>
<script src="//code.getmdl.io/1.2.1/material.min.js"></script>
<script src="//www.gstatic.com/firebasejs/3.4.1/firebase.js"></script>
<script src="/js/spotify.js"></script>
<script>
	{% autoescape false %}
	var userdata = {{ user | safe | json }};
	//console.log(userdata);
	var username = "{{ user.id }}";
	var accessToken = "{{ accessToken }}";
	{% endautoescape %}
</script>
<script src="/js/main.js"></script>
{% endif %}
{% endblock %}